<% include ../partials/header %>
<body>
	<div>
	<form action="" id="userID">
		<label for="user">User name: 
			<input type="text" name="user" id="username" autofocus>
		</label>
		<input type="submit" value="Submit" class="submit">
	</form>

		<form id="songID" action="/scores" method="POST">
			<label for="nameSong">
				<h3>Name this song (enter songwriter, title, or album):</h3>
				<input class="songinput" type="text">
			</label>
			<input id="addname" type="hidden" name="score[player]">
			<input id="addscore" type="hidden" name="score[highScore]">
			<input type='hidden' name='nextsong' value=true>
			<input type="submit" class="submit" value="Guess">
		</form>
		<audio id="audio_id" src="<%= song.previewUrl %>"></audio>
	</div>
	<div id="solution" visibility="hidden">
		<p id="songName"><%= song.trackName %></p>
		<p id="artistName"><%= song.artistName %></p>
		<p id = "albumName"><%= song.collectionName %></p>
		<img id="coverArt" src="<%= song.artworkUrl100 %>">
	</div>
	<div>
		<p id="correct">HECK YEAH!</p>
		<p id="incorrect">Looks like you don't know shit</p>
		</div>
	<div id="board">
	<h2>Scoreboard</h2>
	<table>
		<thead>
			<th>Wins</th>
			<th>Losses</th>
		</thead>
			<tr>
				<td id="wins"></td>
				<td id="losses"></td>
			</tr>
			</table>
	</div>
	<div id="reset">
<a href="/randomsong"><button>Play Again</button></a>
</div>
<div>
<a href="/scores"><button>Return Home</button></a>
<a href="/scores"><button>Check High Scores</button></a>
</div>
<% include ../partials/footer %>